.c-brief {
  position: relative;
  display: block;

  &__inner {
    position: relative;
    background-color: $bg;
    padding: rem(90px);
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    width: calc(100% + 14vw);
    left: -7vw;
    @media (min-width: $from-tiny) {
      width: calc(100% + 20vw);
      left: -10vw;
    }
    @media (min-width: $from-small) {
      width: calc(100% + 18rem);
      left: -9rem;
    }
    @media (min-width: $from-medium) {
      width: 100%;
      left: auto;
      margin-top: rem(120px);
    }
  }

  &::before {
    @media (min-width: $from-medium) {
      content: "";
      position: absolute;
      margin-top: rem(-150px);
      left: 0;
      top: 0;
      display: block;
      background-color: #f8f8f8;
      width: 100%;
      height: rem(400px);
    }
  }
}
