.c-image-info {
  position: relative;

  &__layout {
    @media (max-width: $to-medium) {
      flex-flow: column;
      &.-mobile-flip {
        flex-flow: column-reverse;
      }
    }
  }

  &__inner {
    position: relative;

    .-has-cube & {
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 9rem;
        width: 9rem;
        right: -9rem;
        top: -9rem;
        background-color: $accent;
      }
    }
  }

  &__background {
    position: relative;
    overflow: hidden;
    right: 7vw;
    width: calc(100% + 14vw);

    height: 15rem;

    .-flipped & {
      left: -7vw;
    }

    .-has-cube &,
    .-mobile-flip &,
    .-spacer & {
      margin-top: rem(60px);

      @media (min-width: $from-medium) {
        margin-top: 0;
      }
    }

    @media (min-width: $from-tiny) {
      .-flipped & {
        left: -10vw;
      }
      right: 10vw;
      width: calc(100% + 20vw);
    }

    @media (min-width: $from-small) {
      .-flipped & {
        left: -9rem;
      }
      right: -9rem;
      height: rem(360px);
    }

    @media (min-width: $from-medium) {
      height: rem(760px);
      [data-namespace="interior"] & {
        height: rem(560px);
      }
    }
  }

  &__cta {
    width: calc(100% + 14vw);
    left: -7vw;

    @media (min-width: $from-tiny) {
      width: calc(100% + 20vw);
      left: -10vw;
    }

    @media (min-width: $from-small) {
      width: auto;
      left: auto;
      margin-top: -4rem;
    }

    background-color: $bg;
    z-index: 1;
    position: relative;
    color: #fff;
    padding: rem(60px);
    p {
      font-size: rem(21px);
      font-weight: 600;
    }
  }
}
