.c-job-cards {
  padding: rem(90px) 0;
  position: relative;
  overflow: hidden;
}
.c-job-cards__heading {
  margin-bottom: rem(30px);
}
.c-job-cards__callout {
  display: block;
  width: 100%;

  @media (min-width: $from-medium) {
    display: flex;
    display: flex;
    justify-content: space-between;
  }

  &-item {
    position: relative;
    background-color: #fff;

    &::before {
      @media (min-width: $from-medium) {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: rem(100px);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/images/home/waves.png");
      }
    }
    @include last-child() {
      margin-bottom: 0;
    }

    width: 100%;
    box-shadow: -4px 0px 9px 3px rgba(0, 0, 0, 0.04);
    margin-bottom: 3rem;

    @media (min-width: $from-medium) {
      width: calc(50% - 4rem);
      margin: 0;
    }

    &:hover {
      .c-job-cards__callout-content-icon {
        background-color: $accent;

        svg {
          fill: #fff;
        }
      }
    }
  }

  &-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15rem;

    .o-background {
      top: -5%;
      bottom: -5%;
    }
  }

  &-content {
    padding: 0 rem(60px);

    &-inner {
      padding: rem(30px) rem(30px);
      position: relative;
      margin-top: rem(-60px);
      background-color: #fff;
      text-align: center;
    }

    &-title {
      color: $bg;
      position: relative;
      font-weight: bold;
      font-size: rem(16px);
      text-transform: uppercase;

      &::after {
        content: "";
        position: relative;
        display: block;
        width: 3rem;
        height: rem(3px);
        margin: rem(10px) auto;
        background-color: $accent;
      }
    }

    &-cta--link {
      z-index: 1;
    }

    &-icon {
      @media (max-width: $to-medium) {
        display: none;
      }

      width: 2.5rem;
      height: 2.5rem;
      z-index: 2;
      position: relative;
      float: right;
      right: 0;
      justify-content: center;
      align-items: center;
      margin: 2rem 0px;
      display: flex;
      background-color: #f7f7f7;
      padding: 0;
      border-radius: 50%;
      transition: background-color 0.9s cubic-bezier(0.4, 0, 0.2, 1);

      svg {
        width: 1rem;
        height: 1rem;
        fill: #333;
        transition: fill 0.9s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
