<footer class="c-footer js-section" data-scroll-section>
  <div class="c-footer__content">
    <a class="c-footer-navigation__logo" href="/" target="_blank">
      <img
        class="c-footer-navigation__logo--desktop"
        alt="logo"
        src="../../assets/images/logo.png"
        width="100"
        height="100"
      />
      <img
        class="c-footer-navigation__logo--mobile"
        alt="logo"
        src="../../assets/images/logo.png"
        width="100"
        height="100"
      />
    </a>
    <!-- <nav class="c-footer-navigation__nav u-vertical-center">
      <div>
        <ul class="c-footer-navigation__list">
          <li class="c-footer-navigation__item">
            <a class="c-footer-navigation__link" href="/"> Careers Home </a>
          </li>
          <li class="c-footer-navigation__item">
            <a class="c-footer-navigation__link" href="/driver">
              Driver Jobs
            </a>
          </li>
          <li class="c-footer-navigation__item">
            <a class="c-footer-navigation__link" href="/warehouse">
              Warehouse Jobs
            </a>
          </li>
          <li class="c-footer-navigation__item">
            <a class="c-footer-navigation__link" href="/jobs"> All Jobs </a>
          </li>
        </ul>
      </div>
    </nav> -->
  </div>

  <div class="c-footer__info">
    <div class="o-container-fluid">
      <div class="c-footer__info-layout o-layout -flex -middle">
        <div class="o-layout__item">
          <div class="c-footer__contact-info">
            <div class="c-footer__contact-address">
              <span>Contact</span>
              <span>Applicant Privacy</span>
              <span>Accessibility</span>
              <span>Terms & Conditions</span>
            </div>
            <div class="c-footer__social">
              <div class="c-footer__social__item">
                <a
                  class="c-footer__social-link -linkedin"
                  href="https://www.linkedin.com/company/mcdonald's-corporation"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <svg class="c-footer__social-icon" role="img">
                    <use xlink:href="#svg-linkedin"></use>
                  </svg>
                </a>
              </div>
              <div class="c-footer__social__item">
                <a
                  class="c-footer__social-link -twitter"
                  href="https://twitter.com/McDonalds"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <svg class="c-footer__social-icon" role="img">
                    <use xlink:href="#svg-twitter"></use>
                  </svg>
                </a>
              </div>
              <div class="c-footer__social__item">
                <a
                  class="c-footer__social-link -facebook"
                  href="https://www.facebook.com/McDonalds/"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <svg class="c-footer__social-icon" role="img">
                    <use xlink:href="#svg-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="c-footer__social__item">
                <a
                  class="c-footer__social-link -youtube"
                  href="https://www.youtube.com/c/McDonalds"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <svg class="c-footer__social-icon" role="img">
                    <use xlink:href="#svg-youtube"></use>
                  </svg>
                </a>
              </div>

              <div class="c-footer__social__item">
                <a
                  class="c-footer__social-link -instagram"
                  href="https://www.instagram.com/McDonalds/"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <svg class="c-footer__social-icon" role="img">
                    <use xlink:href="#svg-instagram"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="o-layout__item">
          <div class="c-footer__eeo">
            <p>
              McDonald's Corporation and McDonald’s USA, LLC (“McDonald’s”) are
              committed to a policy of Equal Employment Opportunity and will not
              discriminate against an applicant or employee on the basis of
              race, color, sex, religion, national origin, citizenship status,
              age, disability, veteran or military status, sexual orientation,
              gender identity/expression, genetic information, or any other
              legally-recognized protected basis under federal, state or local
              laws, regulations or ordinances. Applicants with disabilities may
              be entitled to reasonable accommodation under the terms of the
              Americans with Disabilities Act and certain state or local laws. A
              reasonable accommodation is a change or adjustment to a job or
              work environment that will ensure an equal employment opportunity
              without imposing an undue hardship on the operation of the
              business. For corporately owned restaurant locations, please
              contact restaurantjobs.support@us.mcd.com if you need assistance
              completing any forms or to otherwise participate in the
              application process.
            </p>
            <p>
              Independent franchisees are Equal Opportunity employers committed
              to diverse and inclusive workforces. Franchisees are independent
              business people and not employed by McDonald’s. Thus, each
              franchisee and each franchisee restaurant is unique and the
              franchisee is alone responsible for all employment matters in
              their restaurant, including the terms and conditions of employment
              for their employees, such as hiring, firing, discipline,
              supervision, staffing and scheduling. Depending on the restaurant
              location you select, the job for which you apply may be in a
              restaurant owned and operated by an independent franchisee, and
              not with McDonald’s. This means the franchisee, not McDonald’s, is
              responsible for all employment matters at the restaurant. If you
              are hired for the job, the franchisee will be your employer, not
              McDonald’s. For franchisee restaurant locations, please contact
              the franchisee organization directly to the extent you need
              assistance in completing forms or otherwise participating in that
              franchisee’s application process.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="c-footer__copy-right">
      <div class="o-container">
        <div class="c-footer__copy-right-layout o-layout -gutter-small -flex">
          <div class="o-layout__item u-1/1 u-3/4@medium">
            <p>©2017-2019 McDonald's. All Rights Reserved.</p>
          </div>
          <div class="o-layout__item u-1/1 u-1/4@medium">
            <p>
              <a
                href="https://recruiting.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                Recruiting.com
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="__back-to js-scrollto">
    <a class="__back-to-link" data-scroll data-scroll-to href="#main">
      <div class="__back-to-icon">
        <svg>
          <use xlink:href="#svg-arrow-long"></use>
        </svg>
      </div>
      <div class="__back-to-label">Back To Top</div>
    </a>
  </div>
</footer>
