


.o-article {
    max-width: 450px;
    margin: 20vh 0;
}

.o-article__title {
    margin-bottom: 15px;
    font-size: 36px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000), transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000);

    &.is-show {
        opacity: 1;
        transform: none;
        transition-delay: 0.3s;
    }
}

.o-article__time {
    color: gray;
    margin: 15px 0 5px 0;
    display: block;
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000), transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000);

    &.is-show {
        opacity: 1;
        transform: none;
        transition-delay: 0.3s;
    }
}


.o-article__text {
    line-height: 1.6;
    display: block;
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000), transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000);

    &.is-show {
        opacity: 1;
        transform: none;
        transition-delay: 0.3s;
    }
}


