// ==========================================================================
// Objects / Background
// ==========================================================================

.o-image {
    width: 100%;
    position: relative;

    overflow: hidden;

    &::before {
        content:"";
        display: block;
        padding-bottom: 75%;
    }
}



.o-image__title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    z-index: 2;
    font-size: 7vw;
    transform: translateY(-50%);
    font-weight: bold;
    margin: 0;
    span {
        display: inline-block;
        min-width: 0.1em;
        padding: 10vh 0;
    }
}

.o-image__background {
    position: absolute;
    top: -25%;
    bottom: -25%;
    right: 0;
    left: 0;
    background-size: cover;
    background-position: center center;

    &::after {
        content:"";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
    }
}



.o-fixed__wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.o-fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.o-fixed__target {
    display: block;
    position: absolute;
    top: -100vh;
    right: 0;
    left: 0;
    height: 200vh;
}

