.__line {
}
.o-line {
  position: fixed;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  .is-loaded & {
    opacity: 0.5;
    transition-delay: 0.3s;
  }
  transition: all 0.9s cubic-bezier(0.4, 0, 0.2, 1);
  &.-v {
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: $border-line;
  }
  &.-h {
    right: 0;
    left: 0;
    height: 9rem;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      background-color: $border-line;
      height: 1px;
    }
  }
  &.-l {
    display: none;
    @media (min-width: $from-small) {
      .has-scrolled & {
        top: 0;
      }
      top: 6rem;
      left: 9rem;
      display: block;
    }
    @media (min-width: $from-medium) {
      top: 9rem;
    }
  }
  &.-c {
    display: none;
    @media (min-width: $from-small) {
      left: 50%;
      display: block;
    }
  }
  &.-r {
    display: none;
    @media (min-width: $from-small) {
      .has-scrolled & {
        top: 0;
      }
      top: 6rem;
      right: 9rem;
      display: block;
      @media (min-width: $from-medium) {
        top: 9rem;
      }
    }
  }
  &.-t {
    top: 0;
    &:before {
      bottom: 0;
      transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1);
      transform: translateY(0);
    }
  }

  // @media (min-width: $from-large) {
  //   position: absolute;
  // }
}
